/.idea
/.npmrc
/.vscode
/.stryker-tmp
/build/tmp
/eca
/node_modules
**/node_modules
/npm-debug.log
/tmp-processes.json
/.project
/nbproject

**/*.orig

**/tmp
**/temp

custom_components/
!custom_components/ngLocale/

docs/api-documentation/build
docs/api-documentation/node_modules


jsconfig.json
npm-debug.log.*

/templatecache

/temp