<div>
    <mat-card>
        <mat-card-title>
            Please give the below details to estimate risk
        </mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()" [formGroup]="homeForm" class="form">
                <mat-grid-list cols="6">
                    <div>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <input type="text" placeholder="Vessel Type" aria-label="Vessel Type" matInput formControlName="vesselType" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of vesselTypes" [value]="option | titlecase">
                                        {{ option | titlecase}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </mat-grid-tile>
                        &nbsp;
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <input type="text" placeholder="Vessel Sub Type" aria-label="Vessel Sub Type" matInput formControlName="vesselSubType" [matAutocomplete]="autoSubType">
                                <mat-autocomplete #autoSubType="matAutocomplete">
                                    <mat-option *ngFor="let option of vesselSubTypes" [value]="option | titlecase">
                                        {{ option | titlecase}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </mat-grid-tile>
                        &nbsp;
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <input matInput placeholder="Vessel Age" formControlName="vesselAge" type="number" min="0" max="1000">
                            </mat-form-field>
                        </mat-grid-tile>
                    </div>
                    <div>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <input type="text" placeholder="Source Country" aria-label="Source Country" matInput formControlName="sourceCountry" [matAutocomplete]="autoSource">
                                <mat-autocomplete #autoSource="matAutocomplete">
                                    <mat-option *ngFor="let option of ports" [value]="option | titlecase">
                                        {{ option | titlecase}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </mat-grid-tile>
                        &nbsp;
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <input type="text" placeholder="Destination Country" aria-label="Destination Country" matInput formControlName="destinationCountry"
                                    [matAutocomplete]="autoDestination">
                                <mat-autocomplete #autoDestination="matAutocomplete">
                                    <mat-option *ngFor="let option of ports" [value]="option | titlecase">
                                        {{ option | titlecase}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </mat-grid-tile>
                    </div>
                    <mat-grid-tile [colspan]="6" [rowspan]="1">
                        <mat-form-field>
                            <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Date of Journey">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                    <div>
                        <mat-grid-tile [colspan]="6" [rowspan]="1">
                            <button mat-raised-button>Calculate Risk</button>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
                <mat-divider></mat-divider>
            </form>
        </mat-card-content>
    </mat-card>
</div>